@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --left-bg-color: rgba(93, 198, 247, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-btn-hover-color: rgba(85, 169, 238, 1);
    --right-btn-hover-color: rgb(58, 58, 58, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';  
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    

}

.container{
    position: relative;
    height: 100%;
    width: 100%;
    background: #333;

}


.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

/* instead of doing transitons on each selector manually */
.split.left::before, .split.left, .split.right, .split.right::before{
    transition: all var(--speed) ease-in-out;
}

.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.left{
    left: 0;
    background-image: url('stonehedge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.split.left .btn:hover{
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover{
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right{
    right: 0;
    background-image: url('macchupichu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hover-left .left{
    width: var(--hover-width);
    /* transition: width ease 1s; */
}

.hover-left .right{
    width: var(--other-width);
    /* transition: width ease 1s; */
}

.hover-right .right{
    width: var(--hover-width);
    /* transition: width ease 1s; */
}

.hover-right .left{
    width: var(--other-width);
    /* transition: width ease 1s; */
}